
:root {
	--mainColor: #FFF;
	--secondaryColor: #FFF;

	--borderColor: #C1C1C1;

	--mainText: #888;
	--secondaryText: #4B5156;

	--themeDotBorder: #24292E;

	--previewBG: rgb(251, 249, 243, 0.8);
	--previewShadow: #F0EAD6;

	--buttonColor: #000;
}

html, body {
	margin: 0;
	padding: 0;
}

body * {
	transition: 0.3s;
}

h1, h2, h3, h4, h5, h6, strong {
	color: var(--mainText);
	font-family: 'Quicksand', sans-serif;
	font-weight: 800;
}

div, p, li, span, label, input, textarea {
	color: var(--secondaryText);
	font-family: 'Quicksand', serif;
	font-weight: 400;
} 

a {
	color: #CFEAEF;
	text-decoration: none;
}

ul {
	list-style: none;
}

h1 { font-size: 56px; }
h2 { font-size: 36px; }
h3 { font-size: 28px; }
h4 { font-size: 24px; }
h5 { font-size: 20px; }
h6 { font-size: 16px; }


.s1 {
	background-color: var(--mainColor);
	overflow: auto;
	padding: 50px;
}

.main-container {
	margin: 0 auto;
	text-align: center;
	width: 1200px;
}

.logo {
	width: 230px;
}

.greeting-wrapper {
	align-content: center;
	display: grid;
	text-align: center;
	padding: : 0;
}

.greeting-wrapper h1 {
	margin: 0;
}

.greeting-wrapper p {
	font-size: 24px;
}


.post-wrapper {
	display: grid;
	gap: 20px;
	grid-template-columns: repeat(auto-fit, 320px);
	justify-content: center; 
}

.post {

}

.thumbnail img {
	width: 200px;
	border: 10px solid #eee;
	border-radius: 10px;
}

/*
.thumbnail {
	border: 10px solid #eee;
	border-radius: 10px;
}
*/

.post-preview {
	background-color: #FFF;
	padding: 15px;
}

.post-title {
	color: black;
	margin: 0;
}

.post-intro {
	color: #4B5256;
	font-size: 16px;
}

@media screen and (max-width: 1200px) {
	.main-container { width: 95%; }
}
