
:root {
	--mainColor: #000;
	--secondaryColor: #FFF;
}

html, body {
	color: #111;
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	font-weight: 300;
	line-height: 1.6;
	transition: 0.3s;
}

h1 { font-size: 2em; }
h2 { font-size: 1.6em; }

h3 { 
	font-size: 1em; 
	font-weight: 500; 
}


h3, p { margin: 0; }

a {
	border-bottom: solid 1px #111; 
	text-decoration: none;
	color: #111;
}

a:hover {
	border-bottom: solid 1px #999; 
	color: #00F;
}



ul { 
	list-style: none; 
	padding: 0;
}

ul li { display: inline; }

span { color: red; }

.main-container {
	margin: 40px auto;
	max-width: 500px;
}

.title { 
	margin: 0; 
	font-weight: 300; 
}

.section-title { font-weight: 300; }

.projects, .contact { margin: 60px 0; }

.project { margin-bottom: 20px; }

.project-title { margin-bottom: 5px; }
.project-title h3 { display: inline; margin-right: 10px; }

.icon, .icon:hover { border-bottom: none; }



@media screen and (max-width: 1200px) {
	.main-container { padding: 10px; }
}
