
:root {
	--mainColor: #FFF;
	--secondaryColor: #FFF;

	--borderColor: #C1C1C1;

	--mainText: #000;
	--secondaryText: #4B5156;

	--themeDotBorder: #24292E;

	--previewBG: rgb(251, 249, 243, 0.8);
	--previewShadow: #F0EAD6;

	--buttonColor: #000;
}

html, body {
	margin: 0;
	padding: 0;
}

body * {
	transition: 0.3s;
}

h1, h2, h3, h4, h5, h6, strong {
	color: var(--mainText);
	font-family: 'Quicksand', sans-serif;
	font-weight: 800;
}

div, p, li, span, label, input, textarea {
	color: var(--secondaryText);
	font-family: 'Garamond', serif;
} 

a {
	color: #17A2B8;
	text-decoration: none;
}

ul {
	list-style: none;
}

h1 { font-size: 56px; }
h2 { font-size: 36px; }
h3 { font-size: 28px; }
h4 { font-size: 24px; }
h5 { font-size: 20px; }
h6 { font-size: 16px; }


.s1 {
	background-color: var(--mainColor);
	overflow: auto;
}

.main-container {
	margin: 0 auto;
	text-align: center;
	width: 1200px;
}

.logo {
	width: 230px;
}

.greeting-wrapper {
	align-content: center;
	display: grid;
	text-align: center;
	padding: : 0;
}

.greeting-wrapper h1 {
	margin: 0;
}




.post-wrapper {
	display: grid;
	gap: 20px;
	grid-template-columns: repeat(auto-fit, 320px);
	justify-content: center; 
	padding-bottom: 50px;
}

.post {
	border: 1px solid var(==borderColor);
	-webkit-box-shadow: -2px 7px 21px -9px rgba(0,0,0,0.75);
	-moz-box-shadow: -2px 7px 21px -9px rgba(0,0,0,0.75);
	box-shadow: -2px 7px 21px -9px rgba(0,0,0,0.75);

}

.thumbnail {
	display: block;
	height: 180px;
	object-fit: cover;
	width: 100%;
}

.post-preview {
	background-color: #FFF;
	padding: 15PX;
}

.post-title {
	color: black;
	margin: 0;
}

.post-intro {
	color: #4B5256;
	font-size: 16px;
}

@media screen and (max-width: 1200px) {
	.main-container { width: 95%; }
}
